{% extends 'Userhome.html' %}
{% block content %}
<!-- <section class="ftco-section bg-light">
    <div class="container">
        <div class="row"> -->
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(static/media/{{data.img}});">
            </div>
            <div class="col-md-6 wrap-about px-md-5 ftco-animate py-5 bg-light">
      <div class="heading-section py-md-5">
          <span class="subheading">Welcome to Counselor</span>
        <h2 class="mb-4">Best Counseling Funding Network Worldwide.</h2>

        <p>Hai I am {{data.name }} my designation is {{d.desig}} and About Me</p>
        <p>d.{{aboutme}}</p>

        <!-- <a href="static/media/{{data.video}}" class="play-video popup-vimeo d-flex align-items-center mt-4"> -->
            <!-- <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-play"></span></div> -->
            <!-- <span class="watch">Watch Our Consultant Video</span> -->
        <!-- </a><br> -->

        <a href="/BookCounsiler?id={{data.id}}" class="fa fa-check">Counselling..</a>
      </div>

            </div>
        <!-- </div>
    </div>
</section> -->
{% endblock %}