{% extends 'Commonpage.html' %}
{% block content %}
<form method="POST" id="contactForm" name="contactForm" class="contactForm">
    {% csrf_token %}
    <p>In all human history, we have never lived better in terms of creature comforts, medical care, connectivity tools, human rights and world peace. However, never, have we been so devoid of close-knit relationships, human to human connection and deep immersive experiences. The bane of our existence today is that as our physical existence has steadily improved, our mental existence has not been able to keep pace.

        Our flight or fight mechanisms and tribal orientation evolved to survive the Savannah – not the metropolitan life. Rat race, sensory overload and emotional isolation wreak havoc on our mental health. While longer life spans and physically comfortable lives are being focused on in the world, we want to optimise for enhanced mental wellbeing for maximum people.</p>
</form>
{% endblock %}