{% extends 'Commonpage.html' %}
{% block content %}
<form method="POST"  id="contactForm" enctype="multipart/form-data" name="contactForm" class="contactForm">
    {% csrf_token %}
<table class="table">
    <tr><th colspan="2"><h2>Counselor Registration</h2></th></tr>
<tr>
    <th>Name</th><td><input type="text" name="t1" required id=""></td>
</tr>

<tr>
    <th>Email</th><td><input type="email" name="t2" required id=""></td>
</tr>
<tr>
    <th>Mobile</th><td><input type="text" pattern="[6789][0-9]{9}"  name="t3" required id=""></td>
</tr>
<tr>
    <th>Address</th><td><input type="text"  name="t4" required id=""></td>
</tr>

<tr>
    <th>Dob</th><td><input type="Date" name="t5" required id=""></td>
</tr>

<tr>
    <th>Image</th><td><input type="File"  name="t6" required id=""></td>
</tr>
<tr>
    <th>Counseling Video</th><td><input type="File"  name="t66" required id=""></td>
</tr>
<tr>
    <th>About Me</th><td><textarea name="t67" id="" cols="30" rows="10"></textarea></td>
</tr>
<tr>
    <th>Gender</th><td><input type="radio"  name="t7" required id="" value="male">Male&nbsp;&nbsp;&nbsp;<input type="radio"  name="t7" required  value="female" id="">Female</td>
</tr>
<tr>
    <th>Designation</th><td><input type="text" name="t8" required id=""></td>
</tr>
<tr>
    <th>Password</th><td><input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"      name="t9" required id=""></td>
</tr>
<tr>
    <th>ConfirmPassword</th><td><input type="password"  name="t10" required id=""></td>
</tr>


<tr>
    <th colspan="2">
        <input type="submit" value="Submit" style="background-color: rgb(17, 127, 127);border-radius:50px;width:100px" name="sub">
    </th>
</tr>
</table>
</form>
{% endblock %}